.ticket-container {
  display: grid;
  grid-template-columns: repeat(9, auto);
  width: 70%;
  height: 280px;
  text-align: center;
  margin: auto;
  margin-top: 50px;
}

.ticket-box {
  width: 100px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
}

.ticket-ball {
  height: 60px;
  width: 60px;
  margin: 0px;
  margin-top: 15px;
  border-radius: 50%;
  background-color: yellow;
  background-image: -webkit-linear-gradient(
    -45deg,
    rgba(255, 255, 220, 0.3) 0%,
    transparent 100%
  );
  background-image: -moz-linear-gradient(
    -45deg,
    rgba(255, 255, 220, 0.3) 0%,
    transparent 100%
  );
  background-image: -o-linear-gradient(
    -45deg,
    rgba(255, 255, 220, 0.3) 0%,
    transparent 100%
  );
  background-image: -ms-linear-gradient(
    -45deg,
    rgba(255, 255, 220, 0.3) 0%,
    transparent 100%
  );
  box-shadow: inset -25px -25px 40px rgba(0, 0, 0, 0.5);
  position: relative;
}

.ticket-number {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 10px;
  right: 10px;
  border-radius: 80%;
  text-align: center;
  background-color: #fbf4f9;
  font-family: "Playfair Display", serif;
}

#partitioned {
  padding-left: 15px;
  letter-spacing: 42px;
  border: 0;
  background-image: linear-gradient(
    to left,
    black 70%,
    rgba(255, 255, 255, 0) 0%
  );
  background-position: bottom;
  background-size: 50px 1px;
  background-repeat: repeat-x;
  background-position-x: 35px;
  width: 220px;
  min-width: 220px;
}

#divInner {
  left: 0;
  position: sticky;
}

#divOuter {
  width: 450px;
  overflow: hidden;
}
